<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>{{label}}</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active"><strong>{{label}}</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="col-lg-12">
		<div ng-if="models && columns" class="ibox float-e-margins">
			<div class="ibox-title">
				<a ui-sref="{{model_name}}.create" class="btn btn-info">Nuovo</a>
				<a ui-sref="{{model_name}}.import" class="btn btn-info">Importa</a>				
			</div>
			<div class="ibox-content">
				<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
					<thead>
						<tr>
							<th></th>
							<th ng-repeat="(key, value) in columns" ng-if="excluded_columns | not_contains:key">{{value}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="model in models">
							<td><input icheck ng-model="model.selected" type="checkbox" /></td>
							<td ng-repeat="(key, value) in columns" ng-if="excluded_columns | not_contains:key">
								<span ng-if="model[key] && key=='vat'">{{model.country_code}}</span>
								<span ng-if="model[key] && (key=='phone' || key=='mobile')" ng-repeat="country in countries | filter: {code:model.country_code}">{{country.prefix}}</span>
								{{ model[key] }}
							</td>
							<td>
								<a  tooltip-placement="top" uib-tooltip="Elimina" ng-click="delete(model)">
									<i class="fa fa-trash"></i>
								</a>
								<a  tooltip-placement="top" uib-tooltip="Modifica" ui-sref="{{model_name}}.update({id:model.id})">
									<i class="fa fa-edit"></i>
								</a>
								<a  tooltip-placement="top" uib-tooltip="Visualizza" ui-sref="{{model_name}}.view({id:model.id})">
									<i class="fa fa-eye"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>