<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<form name="$parent.supplier_form" novalidate ng-submit="save()" method="get" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-10">
						<input required ng-model="$parent.supplier.name" name="name" type="text" ng-maxlength="45" class="form-control">
						<div class="m-t-xs" ng-show="$parent.supplier_form.name.$invalid && $parent.supplier_form.submitted">
                        	<small class="text-danger" ng-show="$parent.supplier_form.name.$error.required">Campo obbligatorio</small>
                        	<small class="text-danger" ng-show="$parent.supplier_form.name.$error.maxlength">Il nome non può essere più lungo di 45 caratteri</small>
                    	</div>
					</div>

				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Partita Iva</label>
					<div class="col-sm-10">
						<input ng-model="$parent.supplier.vat" type="text" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nazione</label>
					<div class="col-sm-10">
						<input ng-model="$parent.supplier.country_code" type="text"
							class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Telefono</label>
					<div class="col-sm-10">
						<input ng-model="$parent.supplier.phone" type="text" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Cellulare</label>
					<div class="col-sm-10">
						<input type="text" ng-model="$parent.supplier.mobile" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
						<a class="btn btn-white" ui-sref="supplier.grid" >Cancel</a>
						<button class="btn btn-primary" type="submit">Save
							changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>