<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>{{model.name}}</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a ui-sref="supplier.grid">{{label}}</a></li>
			<li class="active"><strong>{{model.name}}</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-6">
			<div ng-if="model && columns && countries"
				class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Anagrafica</h5>
				</div>
				<div class="ibox-content">
					<table class="table">
						<tbody>
							<tr ng-if="value && excluded_columns | not_contains:key"
								ng-repeat="(key, value) in model">
								<td><b>{{columns[key]}}</b></td>
								<td><span ng-if="key=='vat'">{{model.country_code}}</span>
									{{value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="model && columns && countries"
				class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Contatti</h5>
				</div>
				<div class="ibox-content">
					<table class="table">
						<tbody>
							<tr ng-if="model.phone">
								<td><b>Telefono</b></td>
								<td>{{prefix}} {{model.phone}}</td>
							</tr>
							<tr ng-if="model.mobile">
								<td><b>Cellulare</b></td>
								<td>{{prefix}} {{model.mobile}}</td>
							</tr>
							<tr ng-if="model.fax">
								<td><b>Fax</b></td>
								<td>{{prefix}} {{model.fax}}</td>
							</tr>
							<tr ng-if="model.email">
								<td><b>Email</b></td>
								<td>{{model.email}}</td>
							</tr>
							<tr ng-if="model.pec">
								<td><b>Pec</b></td>
								<td>{{model.pec}}</td>
							</tr>
							<tr ng-if="model.referente">
								<td><b>Referente</b></td>
								<td>{{model.referente}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div ng-if="mapOptions" class="col-md-6">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Indirizzo</h5>
				</div>
				<div class="ibox-content">
					<section id="map">
						<div ui-map="myMap" ui-options="mapOptions" class="google-map"></div>
					</section>
					<table class="table">
						<tbody>
							<tr ng-if="model.address">
								<td><b>Indirizzo</b></td>
								<td>{{model.address}}</td>
							</tr>
							<tr ng-if="model.city">
								<td><b>Comune</b></td>
								<td>{{model.city}}</td>
							</tr>
							<tr ng-if="model.province">
								<td><b>Provincia</b></td>
								<td>{{model.province}}</td>
							</tr>
							<tr ng-if="model.cap">
								<td><b>CAP</b></td>
								<td>{{model.cap}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
