<div class="modal-header">
        <h4 class="modal-title">Seleziona immagine del profilo</h4>
</div>
<div class="modal-body">
		<div class="fileinput fileinput-new input-group" data-provides="fileinput">
		    <div class="form-control" data-trigger="fileinput">
		        <i class="glyphicon glyphicon-file fileinput-exists"></i>
		    <span class="fileinput-filename"></span>
		    </div>
		    <span class="input-group-addon btn btn-default btn-file">
		        <span class="fileinput-new">Select file</span>
		        <span class="fileinput-exists">Change</span>
		        <input id="fileInput" type="file" name="..."/>
		    </span>
		    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
		</div> 
	  	<div class="cropArea">
	  		<img-crop image="myImage" result-image="myCroppedImage"></img-crop>
	  	</div>
	</div>
<div class="modal-footer">
		  <button ng-click="cancel()" class="btn btn-white">Chiudi</button>
		  <button ng-click="ok()"  class="btn btn-primary">Applica</button>
</div>

<style>
    .cropArea {
      background:#eee;
      overflow: hidden;
      width:100%;
      height:350px;
    }
</style>